# RV Pre Super Day Case

In [37]:
import pandas as pd
import numpy as np
import plotly as plt

In [12]:
df = pd.read_excel(r'data/candidate_set.xlsx')
df = df.dropna()

In [13]:
df.head()

,User ID,applications,Reason,Loan_Amount,FICO_score,Fico_Score_group,Employment_Status,Employment_Sector,Monthly_Gross_Income,Monthly_Housing_Payment,Ever_Bankrupt_or_Foreclose,Lender,Approved,bounty
0,00007820-89cb-4c1d-9940-eb270d605a35,1,cover_an_unexpected_cost,100000,669,fair,full_time,consumer_discretionary,5024,927,0,B,0,0
1,00012b55-514c-421e-9c76-3300abbc1134,1,credit_card_refinancing,70000,594,fair,full_time,information_technology,5764,1177,0,B,0,0
2,000157c1-b6a3-4c86-82c7-9ec1bda3799a,1,home_improvement,10000,596,fair,full_time,information_technology,4017,1487,0,A,0,0
3,00020400-efab-4b10-8812-2a0aaf774841,1,home_improvement,100000,642,fair,part_time,energy,3129,904,0,A,0,0
4,0002f737-0cda-48fb-91ed-533f3d0eab05,1,major_purchase,30000,642,fair,full_time,energy,4220,1620,0,A,0,0

## Question 1

In [14]:
df_approved = df[df["Approved"] == 1]
df_approved.head()

,User ID,applications,Reason,Loan_Amount,FICO_score,Fico_Score_group,Employment_Status,Employment_Sector,Monthly_Gross_Income,Monthly_Housing_Payment,Ever_Bankrupt_or_Foreclose,Lender,Approved,bounty
6,0004091e-ef33-4feb-9fc2-7da41b1edadd,1,other,80000,691,good,full_time,communication_services,5103,1289,0,A,1,250
41,00150abb-36ce-4e46-aa86-af7d75654a05,1,credit_card_refinancing,90000,779,very_good,full_time,health_care,10710,1840,0,A,1,250
42,001524af-8e8d-41df-bb88-67fd1ac66a9e,1,credit_card_refinancing,100000,785,very_good,full_time,consumer_staples,14290,1868,0,A,1,250
45,00174af3-6120-43ba-8476-a5333c6d8b26,1,other,30000,708,good,full_time,industrials,7783,1525,0,A,1,250
81,002e92f8-f2ef-4a30-8a88-acb58a34d2f6,1,home_improvement,100000,562,poor,full_time,communication_services,4853,1584,0,A,1,250

In [15]:
df_denied = df[df["Approved"] == 0]
df_denied.head()

,User ID,applications,Reason,Loan_Amount,FICO_score,Fico_Score_group,Employment_Status,Employment_Sector,Monthly_Gross_Income,Monthly_Housing_Payment,Ever_Bankrupt_or_Foreclose,Lender,Approved,bounty
0,00007820-89cb-4c1d-9940-eb270d605a35,1,cover_an_unexpected_cost,100000,669,fair,full_time,consumer_discretionary,5024,927,0,B,0,0
1,00012b55-514c-421e-9c76-3300abbc1134,1,credit_card_refinancing,70000,594,fair,full_time,information_technology,5764,1177,0,B,0,0
2,000157c1-b6a3-4c86-82c7-9ec1bda3799a,1,home_improvement,10000,596,fair,full_time,information_technology,4017,1487,0,A,0,0
3,00020400-efab-4b10-8812-2a0aaf774841,1,home_improvement,100000,642,fair,part_time,energy,3129,904,0,A,0,0
4,0002f737-0cda-48fb-91ed-533f3d0eab05,1,major_purchase,30000,642,fair,full_time,energy,4220,1620,0,A,0,0

In [31]:
df.groupby(['Approved']).mean().head()

,applications,Loan_Amount,FICO_score,Monthly_Gross_Income,Monthly_Housing_Payment,Ever_Bankrupt_or_Foreclose,bounty
Approved,,,,,,,
0,1.0,45659.282383,620.929431,5880.106594,1666.758295,0.017476,0.000000
1,1.0,42506.588855,697.000000,7414.705384,1616.703972,0.006965,242.319277

In [32]:
df.groupby(['Employment_Status']).mean().head()

,applications,Loan_Amount,FICO_score,Monthly_Gross_Income,Monthly_Housing_Payment,Ever_Bankrupt_or_Foreclose,Approved,bounty
Employment_Status,,,,,,,,
full_time,1.0,45207.437703,629.548851,6687.488142,1718.427472,0.011603,0.120712,29.543049
part_time,1.0,45722.866854,629.634201,3214.581224,1403.867557,0.037271,0.081224,18.372011

In [33]:
df.groupby(['Employment_Sector']).mean().head()

,applications,Loan_Amount,FICO_score,Monthly_Gross_Income,Monthly_Housing_Payment,Ever_Bankrupt_or_Foreclose,Approved,bounty
Employment_Sector,,,,,,,,
communication_services,1.0,45733.283246,620.675131,5553.552216,1663.380165,0.016228,0.095718,22.607062
consumer_discretionary,1.0,46509.374007,616.076899,4850.919924,1611.133778,0.021290,0.084207,19.748967
consumer_staples,1.0,45942.723423,623.724983,5618.986405,1649.118008,0.016381,0.096835,23.339648
energy,1.0,44962.955927,626.871771,5939.958207,1665.036474,0.015008,0.106003,25.132979
financials,1.0,45368.171021,638.198121,6702.077305,1676.230296,0.016519,0.132369,32.563161

In [35]:
df.groupby(['Reason']).mean().head()

,applications,Loan_Amount,FICO_score,Monthly_Gross_Income,Monthly_Housing_Payment,Ever_Bankrupt_or_Foreclose,Approved,bounty
Reason,,,,,,,,
cover_an_unexpected_cost,1.0,45880.327776,629.645991,6190.279577,1715.815057,0.016047,0.113185,27.226427
credit_card_refinancing,1.0,44823.954633,629.089799,6010.523400,1650.208388,0.017199,0.117094,28.531813
debt_conslidation,1.0,44878.133840,628.880459,6022.453210,1621.144147,0.014918,0.112218,27.070175
home_improvement,1.0,45596.468157,630.358726,6038.368213,1666.429833,0.014559,0.114033,27.587826
major_purchase,1.0,45400.093433,630.403764,6032.288841,1672.225574,0.018486,0.112987,27.452616

In [36]:
df.groupby(['Fico_Score_group']).mean().head()

,applications,Loan_Amount,FICO_score,Monthly_Gross_Income,Monthly_Housing_Payment,Ever_Bankrupt_or_Foreclose,Approved,bounty
Fico_Score_group,,,,,,,,
excellent,1.0,45279.261778,824.663429,9916.161729,1679.579407,0.009228,0.464789,120.179699
fair,1.0,45368.524725,625.720321,5771.681043,1659.926383,0.015876,0.067119,14.698359
good,1.0,45201.915709,702.809655,6716.970881,1660.077701,0.017471,0.186245,46.461686
poor,1.0,45253.342849,522.785081,5108.630221,1657.814002,0.016864,0.029147,5.908203
very_good,1.0,45643.244370,767.228315,8044.192452,1684.836113,0.012510,0.364262,95.298165

## Question 2

In [38]:
df.groupby(['Lender']).mean().head()

,applications,Loan_Amount,FICO_score,Monthly_Gross_Income,Monthly_Housing_Payment,Ever_Bankrupt_or_Foreclose,Approved,bounty
Lender,,,,,,,,
A,1.0,45271.959178,630.196657,6036.500897,1685.305922,0.018876,0.109856,27.463995
B,1.0,45311.764706,630.550706,6211.776353,1746.650118,0.004667,0.075804,26.531373
C,1.0,45396.315338,625.326478,5836.318195,1411.671094,0.027421,0.196301,29.445159

In [39]:
df_approved.groupby(['Lender']).mean().head()

,applications,Loan_Amount,FICO_score,Monthly_Gross_Income,Monthly_Housing_Payment,Ever_Bankrupt_or_Foreclose,Approved,bounty
Lender,,,,,,,,
A,1.0,42602.659037,696.981656,7571.386570,1708.551834,0.005554,1.0,250.0
B,1.0,42141.748577,731.498189,8114.566994,1699.520952,0.000000,1.0,350.0
C,1.0,42555.474718,672.781739,6583.918880,1359.939614,0.014915,1.0,150.0

In [46]:
df_approved.groupby(['Lender', 'Employment_Status']).sum().head(6)

                          applications  Loan_Amount  FICO_score  \
Lender Employment_Status
A      full_time                  5238    228815000     3639561
       part_time                   704     24330000      501904
B      full_time                  1757     74005000     1284578
       part_time                   176      7455000      129408
C      full_time                  2243     95010000     1503701
       part_time                   506     21975000      345776

                          Monthly_Gross_Income  Monthly_Housing_Payment  \
Lender Employment_Status
A      full_time                      42670435                  8705626
       part_time                       2318744                  1446589
B      full_time                      15101421                  3100297
       part_time                        584037                   184877
C      full_time                      16496983                  3184799
       part_time                       1602210                   553675

                          Ever_Bankrupt_or_Foreclose  Approved   bounty
Lender Employment_Status
A      full_time                                  25      5238  1309500
       part_time                                   8       704   176000
B      full_time                                   0      1757   614950
       part_time                                   0       176    61600
C      full_time                                  31      2243   336450
       part_time                                  10       506    75900

In [48]:
df_approved.groupby(['Lender', 'Fico_Score_group']).sum().head(15)

                         applications  Loan_Amount  FICO_score  \
Lender Fico_Score_group
A      excellent                  513     22255000      422956
       fair                      1269     52100000      796898
       good                      2837    120870000     2000747
       poor                       409     16940000      219375
       very_good                  914     40980000      701489
B      excellent                  263     11445000      216635
       fair                       153      6590000       98957
       good                       999     41585000      701110
       very_good                  518     21840000      397284
C      excellent                  181      7710000      149130
       fair                       861     33930000      541183
       good                      1025     45295000      720837
       poor                       367     15925000      196414
       very_good                  315     14125000      241913

                         Monthly_Gross_Income  Monthly_Housing_Payment  \
Lender Fico_Score_group
A      excellent                      5164800                   889693
       fair                           8003440                  2047812
       good                          22080487                  4850537
       poor                           2204666                   738629
       very_good                      7535786                  1625544
B      excellent                      2878793                   453659
       fair                           1007528                   277365
       good                           7315739                  1702592
       very_good                      4483398                   851558
C      excellent                      1724453                   264967
       fair                           5403881                  1108808
       good                           6627408                  1408179
       poor                           1916035                   506779
       very_good                      2427416                   449741

                         Ever_Bankrupt_or_Foreclose  Approved  bounty
Lender Fico_Score_group
A      excellent                                  3       513  128250
       fair                                       4      1269  317250
       good                                      20      2837  709250
       poor                                       1       409  102250
       very_good                                  5       914  228500
B      excellent                                  0       263   92050
       fair                                       0       153   53550
       good                                       0       999  349650
       very_good                                  0       518  181300
C      excellent                                  1       181   27150
       fair                                      10       861  129150
       good                                      19      1025  153750
       poor                                       3       367   55050
       very_good                                  8       315   47250

## Question 3

In [62]:
df.groupby(['Lender', 'Fico_Score_group']).mean().head(15)

                         applications   Loan_Amount  FICO_score  \
Lender Fico_Score_group
A      excellent                  1.0  44965.724079  824.874036
       fair                       1.0  45472.639401  625.616432
       good                       1.0  45223.004695  703.716851
       poor                       1.0  45033.196641  522.540845
       very_good                  1.0  45638.214565  769.601410
B      excellent                  1.0  47200.674536  824.374368
       fair                       1.0  45369.909012  625.931218
       good                       1.0  44903.747995  700.795392
       poor                       1.0  45392.608089  522.787029
       very_good                  1.0  45652.305825  763.261529
C      excellent                  1.0  42692.307692  824.414716
       fair                       1.0  45004.513450  625.729735
       good                       1.0  45693.766159  702.669635
       poor                       1.0  45835.981423  523.698851
       very_good                  1.0  45639.730640  768.030303

                         Monthly_Gross_Income  Monthly_Housing_Payment  \
Lender Fico_Score_group
A      excellent                  9898.100257              1710.879177
       fair                       5708.484176              1685.363561
       good                       6713.101891              1679.624032
       poor                       5112.737486              1685.997266
       very_good                  8124.492952              1704.093579
B      excellent                 10183.209106              1758.258010
       fair                       5916.066291              1751.863735
       good                       6928.829809              1745.993000
       poor                       5156.526220              1738.534868
       very_good                  8046.875607              1751.308252
C      excellent                  9457.026756              1401.374582
       fair                       5750.582055              1418.320816
       good                       6317.162310              1402.332663
       poor                       5009.262283              1410.503300
       very_good                  7691.483165              1417.614478

                         Ever_Bankrupt_or_Foreclose  Approved      bounty
Lender Fico_Score_group
A      excellent                           0.010283  0.439589  109.897172
       fair                                0.018812  0.065946   16.486515
       good                                0.020492  0.179990   44.997462
       poor                                0.019007  0.026622    6.655601
       very_good                           0.012529  0.357870   89.467502
B      excellent                           0.010118  0.443508  155.227656
       fair                                0.003683  0.016573    5.800477
       good                                0.005396  0.145691   50.991687
       poor                                0.004324  0.000000    0.000000
       very_good                           0.006675  0.314320  110.012136
C      excellent                           0.003344  0.605351   90.802676
       fair                                0.025997  0.155443   23.316483
       good                                0.027578  0.294456   44.168342
       poor                                0.030799  0.089709   13.456368
       very_good                           0.028620  0.530303   79.545455

In [60]:
df_approved.groupby(['Lender', 'Fico_Score_group', 'Ever_Bankrupt_or_Foreclose']).sum()

                                                    applications  Loan_Amount  \
Lender Fico_Score_group Ever_Bankrupt_or_Foreclose
A      excellent        0                                    510     22175000
                        1                                      3        80000
       fair             0                                   1265     51990000
                        1                                      4       110000
       good             0                                   2817    120205000
                        1                                     20       665000
       poor             0                                    408     16870000
                        1                                      1        70000
       very_good        0                                    909     40890000
                        1                                      5        90000
B      excellent        0                                    263     11445000
       fair             0                                    153      6590000
       good             0                                    999     41585000
       very_good        0                                    518     21840000
C      excellent        0                                    180      7680000
                        1                                      1        30000
       fair             0                                    851     33640000
                        1                                     10       290000
       good             0                                   1006     44710000
                        1                                     19       585000
       poor             0                                    364     15855000
                        1                                      3        70000
       very_good        0                                    307     13735000
                        1                                      8       390000

                                                    FICO_score  \
Lender Fico_Score_group Ever_Bankrupt_or_Foreclose
A      excellent        0                               420454
                        1                                 2502
       fair             0                               794424
                        1                                 2474
       good             0                              1986516
                        1                                14231
       poor             0                               218798
                        1                                  577
       very_good        0                               697649
                        1                                 3840
B      excellent        0                               216635
       fair             0                                98957
       good             0                               701110
       very_good        0                               397284
C      excellent        0                               148311
                        1                                  819
       fair             0                               534777
                        1                                 6406
       good             0                               707446
                        1                                13391
       poor             0                               194815
                        1                                 1599
       very_good        0                               235750
                        1                                 6163

                                                    Monthly_Gross_Income  \
Lender Fico_Score_group Ever_Bankrupt_or_Foreclose
A      excellent        0                                        5140998
                        1                                          23802
       fair             0                                        7990432
                        1                                          13008
       good             0                                       21909824
                        1                                         170663
       poor             0                                        2193852
                        1                                          10814
       very_good        0                                        7497695
                        1                                          38091
B      excellent        0                                        2878793
       fair             0                                        1007528
       good             0                                        7315739
       very_good        0                                        4483398
C      excellent        0                                        1714007
                        1                                          10446
       fair             0                                        5343216
                        1                                          60665
       good             0                                        6515689
                        1                                         111719
       poor             0                                        1904229
                        1                                          11806
       very_good        0                                        2371559
                        1                                          55857

                                                    Monthly_Housing_Payment  \
Lender Fico_Score_group Ever_Bankrupt_or_Foreclose
A      excellent        0                                            885900
                        1                                              3793
       fair             0                                           2044305
                        1                                              3507
       good             0                                           4823103
                        1                                             27434
       poor             0                                            737082
                        1                                              1547
       very_good        0                                           1615939
                        1                                              9605
B      excellent        0                                            453659
       fair             0                                            277365
       good             0                                           1702592
       very_good        0                                            851558
C      excellent        0                                            263282
                        1                                              1685
       fair             0                                           1095658
                        1                                             13150
       good             0                                           1385111
                        1                                             23068
       poor             0                                            505028
                        1                                              1751
       very_good        0                                            438844
                        1                                             10897

                                                    Approved  bounty
Lender Fico_Score_group Ever_Bankrupt_or_Foreclose
A      excellent        0                                510  127500
                        1                                  3     750
       fair             0                               1265  316250
                        1                                  4    1000
       good             0                               2817  704250
                        1                                 20    5000
       poor             0                                408  102000
                        1                                  1     250
       very_good        0                                909  227250
                        1                                  5    1250
B      excellent        0                                263   92050
       fair             0                                153   53550
       good             0                                999  349650
       very_good        0                                518  181300
C      excellent        0                                180   27000
                        1                                  1     150
       fair             0                                851  127650
                        1                                 10    1500
       good             0                               1006  150900
                        1                                 19    2850
       poor             0                                364   54600
                        1                                  3     450
       very_good        0                                307   46050
                        1                                  8    1200

In [75]:
df_set1 = df[(df["Lender"] != 'B') & (df['Monthly_Gross_Income'] > 8000) & (df['FICO_score'] > 740)]

In [76]:
df_set1.head()

,User ID,applications,Reason,Loan_Amount,FICO_score,Fico_Score_group,Employment_Status,Employment_Sector,Monthly_Gross_Income,Monthly_Housing_Payment,Ever_Bankrupt_or_Foreclose,Lender,Approved,bounty
10,00076e11-3b6f-41cd-a2b7-f4ffe8fe2fbf,1,home_improvement,40000,793,very_good,full_time,information_technology,10292,952,0,A,0,0
34,001231ad-0aef-4d84-86e1-306dbcea9310,1,debt_conslidation,10000,755,very_good,full_time,real_estate,12198,1636,0,C,0,0
41,00150abb-36ce-4e46-aa86-af7d75654a05,1,credit_card_refinancing,90000,779,very_good,full_time,health_care,10710,1840,0,A,1,250
42,001524af-8e8d-41df-bb88-67fd1ac66a9e,1,credit_card_refinancing,100000,785,very_good,full_time,consumer_staples,14290,1868,0,A,1,250
60,00227343-b9eb-469a-9b82-83b03d36ca00,1,home_improvement,30000,762,very_good,full_time,financials,11824,1960,0,A,0,0

In [90]:
df_set1.groupby(['Fico_Score_group']).sum().head()

,applications,Loan_Amount,FICO_score,Monthly_Gross_Income,Monthly_Housing_Payment,Ever_Bankrupt_or_Foreclose,Approved,bounty
Fico_Score_group,,,,,,,,
excellent,1058,47000000,872650,12847651,1775538,6,507,114250
very_good,1496,67595000,1152107,16779062,2482675,20,592,134100

In [82]:
df_set1['bounty'].sum()

248350

In [85]:
df.groupby(['Lender', 'Fico_Score_group']).mean().head(15)

                         applications   Loan_Amount  FICO_score  \
Lender Fico_Score_group
A      excellent                  1.0  44965.724079  824.874036
       fair                       1.0  45472.639401  625.616432
       good                       1.0  45223.004695  703.716851
       poor                       1.0  45033.196641  522.540845
       very_good                  1.0  45638.214565  769.601410
B      excellent                  1.0  47200.674536  824.374368
       fair                       1.0  45369.909012  625.931218
       good                       1.0  44903.747995  700.795392
       poor                       1.0  45392.608089  522.787029
       very_good                  1.0  45652.305825  763.261529
C      excellent                  1.0  42692.307692  824.414716
       fair                       1.0  45004.513450  625.729735
       good                       1.0  45693.766159  702.669635
       poor                       1.0  45835.981423  523.698851
       very_good                  1.0  45639.730640  768.030303

                         Monthly_Gross_Income  Monthly_Housing_Payment  \
Lender Fico_Score_group
A      excellent                  9898.100257              1710.879177
       fair                       5708.484176              1685.363561
       good                       6713.101891              1679.624032
       poor                       5112.737486              1685.997266
       very_good                  8124.492952              1704.093579
B      excellent                 10183.209106              1758.258010
       fair                       5916.066291              1751.863735
       good                       6928.829809              1745.993000
       poor                       5156.526220              1738.534868
       very_good                  8046.875607              1751.308252
C      excellent                  9457.026756              1401.374582
       fair                       5750.582055              1418.320816
       good                       6317.162310              1402.332663
       poor                       5009.262283              1410.503300
       very_good                  7691.483165              1417.614478

                         Ever_Bankrupt_or_Foreclose  Approved      bounty
Lender Fico_Score_group
A      excellent                           0.010283  0.439589  109.897172
       fair                                0.018812  0.065946   16.486515
       good                                0.020492  0.179990   44.997462
       poor                                0.019007  0.026622    6.655601
       very_good                           0.012529  0.357870   89.467502
B      excellent                           0.010118  0.443508  155.227656
       fair                                0.003683  0.016573    5.800477
       good                                0.005396  0.145691   50.991687
       poor                                0.004324  0.000000    0.000000
       very_good                           0.006675  0.314320  110.012136
C      excellent                           0.003344  0.605351   90.802676
       fair                                0.025997  0.155443   23.316483
       good                                0.027578  0.294456   44.168342
       poor                                0.030799  0.089709   13.456368
       very_good                           0.028620  0.530303   79.545455

Lender B has an approval rate of 0.443508 for excellent and 0.314320 for very good.

In [132]:
bex = 1058 * 0.443508 * 350
bvg = 1496 * 0.314320 * 350

In [133]:
bex + bvg

328808.9644

In [134]:
btotal = (bex + bvg) - (114250 + 134100)
btotal

80458.9644

In [108]:
df_set2 = df[(df["Lender"] != 'A') & (df['Ever_Bankrupt_or_Foreclose'] == 1) & (df['FICO_score'] > 740)]

In [109]:
df_set2.groupby(['Fico_Score_group']).sum().head()

,applications,Loan_Amount,FICO_score,Monthly_Gross_Income,Monthly_Housing_Payment,Ever_Bankrupt_or_Foreclose,Approved,bounty
Fico_Score_group,,,,,,,,
excellent,7,285000,5749,71827,9537,7,1,150
very_good,28,1240000,21355,181675,36149,28,8,1200

In [127]:
df_set3 = df[(df["Lender"] != 'C') & (df['FICO_score'] < 660)]

In [128]:
df_set3.groupby(['Fico_Score_group']).sum().head()

,applications,Loan_Amount,FICO_score,Monthly_Gross_Income,Monthly_Housing_Payment,Ever_Bankrupt_or_Foreclose,Approved,bounty
Fico_Score_group,,,,,,,,
fair,24963,1132770000,15481796,144400101,42626428,334,1210,314800
poor,22533,1017310000,11776178,115519279,38367271,323,409,102250

In [135]:
cex = 24963 * 0.155443 * 150
cvg = 22533 * 0.089709 * 150

In [136]:
cex + cvg

885260.4759

In [138]:
ctotal = (cex + cvg) - (314800 + 102250)
ctotal

468210.47589999996

In [139]:
ctotal+btotal

548669.4402999999